<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta charset="UTF-8">
    <title>Pomo</title>
</head>
<body>
  <h1>Pomo index page</h1>
  <div id="time" style="display: inline-block">
      <div id="min" style="display: inline-block"></div><div style="display: inline-block">분</div>
      <div id="sec">00초</div>
  </div>
  <button onClick="intervalTimer(new Date(Date.now() + 60000 * val), 1000)">시작</button>
  <button onClick="addMin()">분 추가</button>
</body>
  <script>
    let min = document.getElementById('min')
    let sec = document.getElementById('sec')
    let val = Number(min.innerText.trim())
    min.innerText = '0'


    function addMin() {
        data = Number(min.innerText.trim())
        data += 1
        min.innerText = data.toString().padStart(2, '0')
        val = Number(min.innerText)
    }

    // 후에 web worker로 추가 비동기 처리
    function intervalTimer(endTime, timeout){
      const timerId = setInterval(() => {
        const now = Date.now()
        const end = endTime.getTime()
        let timeLeft = end - now + 9

        if(timeLeft <= 10){
          clearInterval(timerId)
          min.innerText = "00"
          sec.innerText = "00" + '초'
          // django에 Post요청 보내기
          fetch("/pomo/complete/", {
            method: "POST",
            headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": document.querySelector('meta[name="csrf-token"]').getAttribute("content"),
            },
            body: JSON.stringify({
            message: "타이머 완료됨",
            total_time: val.toString(),
            finished_at: new Date().toISOString()
            }),
        }).then((response) => {
            if (response.ok){
                window.location.href = "/pomo/complete/";
            }
          })

          return;
        }
        const totalSeconds = Math.floor(timeLeft / 1000);
        const minutes = Math.floor(totalSeconds / 60);
        const seconds = totalSeconds % 60;

        const minStr = minutes.toString().padStart(2, '0');
        const secStr = seconds.toString().padStart(2, '0');

        min.innerText = `${minStr}`;
        sec.innerText = `${secStr}초`;

        //console.log(`남은 시간: ${minStr}분 ${secStr}초`);
      }, timeout);
    }

  </script>
</html>